.todo-list {
    list-style: none;
    padding: 0;

    & li {
        margin-bottom: 0.5rem;

        & form {
            display: flex;
            gap: 1rem;
            justify-content: left;
        }
    }
}
