body {
    margin: 8px;
}

#root {
    font-family: sans-serif;

    .logout {
        position: absolute;
        bottom: 0;
        margin: 2rem;
        text-align: right;
        width: calc(100% - 4rem);
    }

    & > div {
        /* -16 for the body's margin */
        width: min(40rem, calc(100vw - 16px));
        margin: 0 auto;
    }
}

.control {
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem!important;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: #ffd5d1;
}

h3 {
    margin-bottom: 0.5rem;
}

.divider {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    & > span {
        font-style: italic;
        padding: 1rem;
        background-color: white;
        position: relative;
        z-index: 1;
    }

    & hr {
        margin-top: -14px;
        border: none;
        opacity: 0.6;

        &::after {
            background: transparent url("wave.svg") bottom;
            background-repeat: repeat-x;
            background-size: 26px auto;
            content: " ";
            width: 100%;
            height: 10px;
            display: block;
        }
    }
}
