body {
    margin: 8px;
}

#root {
    font-family: sans-serif;

    & > div {
        /* -16 for the body's margin */
        width: min(40rem, calc(100vw - 16px));
        margin: 0 auto;
    }
}

.control {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 6rem;
}
